*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}


/* HEADER */
.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 53, 61);
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
}
.logos{
    width: 100px;
}

.nav ul{
    margin: 10px;
}
.nav ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: white;
    /* background-color: red; */
    
}
.nav ul li a{
    text-decoration: none;
    color: white;
}
.active,.nav ul li a:hover{
    border-bottom: 2px white solid;
    cursor: pointer;
    font-weight: 500;
}



/* IMAGES */
.my_img{
    margin-bottom: 3px;
}
.boxs{
    background-image: url(../img/bgi.jpg);
    height: 300px;
    margin-top: 50px;
    box-shadow: 2px 5px 10px 6px rgba(0,0,0,0.5) ;
    /* z-index: 3; */
}
.boxs img{
    width: 100%;
    
}
.button{
    position: relative;
    top: 240px;
    left: 40px;
}
.btnn{
    font-size: 20px;
    border: none;
    margin-bottom: 20px;
    background-color: rgba(194, 50, 25, 0.768);
    color: white;
    padding: 5px;
    border-radius: 10px;   
}
.btnn:hover{
    box-shadow: 1px 2px 6px 3px rgba(0,0,0,0.5) ;
    transition: .2s;
    color: white;
    background-color: rgb(1, 1, 43);
}
.btn{
    /* z-index: 4; */
    font-size: 20px;
    border: none;
    background-color: rgba(194, 50, 25, 0.768);
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.btn:hover{
    box-shadow: 1px 2px 6px 3px rgba(0,0,0,0.5) ;
    transition: .2s;
    background-color: rgb(1, 1, 43);
}
.btmm{
    font-size: 20px;
    border: none;
    background-color: rgba(194, 50, 25, 0.768);
    color: white;
    padding: 5px;
    border-radius: 10px; 
}
.btmm:hover{
    box-shadow: 1px 2px 6px 3px rgba(0,0,0,0.5) ;
    transition: .2s;
    background-color: rgb(1, 1, 43);
}

.head{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    font-weight: 100px;
}
.products{
    display: flex;
    justify-content: space-evenly;
}
.colm{
    width: 300px;
    border: rgb(189, 189, 189) solid 2px;
    border-radius: 10px;
    transition: .5s;
}
.colm:hover{
    box-shadow: 2px 5px 22px 6px rgba(0,0,0,0.5) ;
    transition: .4s;
}

.name_product{
    text-align: center;
}
.product_img{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product_btn{
    border: none;
    background-color: rgba(194, 50, 25, 0.768);
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 110px;
    margin-right: 5px;
}
.product_btn:hover{
    box-shadow: 1px 2px 6px 3px rgba(0,0,0,0.5) ;
    transition: .2s;
    background-color: rgb(1, 1, 43);
}
.buy{
    align-items: center;
}
.product_price{
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}
.product_btn{
    margin-left: 110px;
    margin-right: 5px;
}
.buttons{
    margin-left: 635px;
}
.policies{
    /* margin-left: 460px; */
    justify-content: space-between;
}
.poli_container{
    margin-left:180px ;
    margin-right: 340px;

}
.po_image{
    height: 300px;
    /* border-radius: 50px; */
}
.name_po{
    text-align: center;
    font-size:16px;
}




/* DETAILS PAGE */
.client_container{
    height: 500px;
    margin-top: 100px;
    margin: 10px;
    /* overflow: hidden; */
}
.client_content{
    background-color: rgba(250,250,250,0.5);
    width: 400px;
    align-items: center;
}
.client_content h3{
    color: black;
}
.client_content p{
    color: black;
}
.g_map{
    width: 100%;
}
.contact_container .g_map{
    align-items: center;
}
.contact_container .g_map .contact_content{
    align-items: center;
    text-align: center;
}
.boxa{
    margin-left: 10px;
    padding-left: 15px;
}
.boxa .col1 img:hover{
    box-shadow: 1px 2px 6px 3px rgba(0,0,0,0.5) ;
    transition: .2s;
    background-color: rgb(1, 1, 43);
}
.col1{
    display: inline;
}
.col-3 .partner{
    text-align: center;
    text-decoration: underline;
}





/* ABOUT PAGE */
.about_container{
    padding-top: 70px;
}
.about_container h3{
    color: rgba(194, 50, 25, 0.768);
    font-weight: 700;
}
.video_container .video{
    border: 5px solid orange;
    height: 325px;
    margin-top: 80px;
}
.video_container h3{
    text-align: center;
    color: rgba(194, 50, 25, 0.768);
    font-weight: 700;
    font-size: 28px;
}
.video_container .content p{
    margin: 30px;
    text-indent: 40px;
}








/* FOOTER */
.directHome{
    list-style-type: none;
}
.directHome a{
    text-decoration: none;
}





/* OTHER CSS FROM dec1321.css */

.containers{
    padding: 0 140px;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.col-1{
    color: white;
}
.col-2{
    color: white;
}
.col-3{
    color: white;
}
.app{
    /* width: 150px; */
    height: 90px;
}
.footer{
    justify-content: space-between;
}
.box{
    display: flex;
    flex-direction: row;
}
.one,.two{
    display: flex;
    flex-direction: column;
}
.apps{
    width: 80px;
    /* height: 80px; */
}
.partners{
    text-align: center;
    text-decoration: underline;
}





.text{
    color: gray;
    border: rgb(223, 217, 217) 1px solid;
}
.sub-menu{
    display: none;
}
.unorder ul li a:hover .sub-menu{
    display: block;
}

.foot{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(226, 218, 208);
    align-items: center;
}
.a{
    align-items: center;
    position: relative;
    top: 8px;
}
.log{
    font-size: 14px;
    color: rgb(76, 113, 20);
}



